/* General */
body {
  background-color: #ABDCD6;
  color: #333333;
  font-family: 'Nunito Sans', sans-serif;
}

/* Header */
.header {
  background-color: #333333;
  color: #FFFCEC;
  text-align: center;
  padding: 20px;
  border-bottom: 10px solid #EB593C;
}

.headerText {
  margin: 0;
}

/* Quiz Container */
.container {
  max-width: 768px;
  margin-top: 30px;
  border: 1px solid 333333;
  border-radius: 2px;
  box-shadow: 8px 8px 15px #333333;
  background-color: #FFFCEC;
  padding: 20px;
  text-align: center;
}

/* Circle Animation and Timer */
.circleSVG {
  height: 180px;
  width: 180px;
}

.circleBackground {
  stroke: #EFEFEF;
  stroke-width: 2;
  fill: none;
}

.animateCircle {
  animation-name: circle-empty;
  animation-duration: 20s;
  animation-direction: reverse;
  animation-delay: 0s;
  animation-timing-function: linear;
  transform: rotate(-90deg);
  transform-origin: center;
  stroke: #EB593C;
  stroke-width: 2;
  stroke-dasharray: 0 100;
  stroke-linecap: square;
  fill: none;
}

.timer {
  alignment-baseline: central;
  text-anchor: middle;
  font-size: 12px;
}

@keyframes circle-empty {
  to { stroke-dasharray: 100 0; }
}

/* Question and Answers Column */
.questionArea {
  width: 100%;
  text-align: center;
}

.question {
  font-weight: bolder;
}

.choice {
  max-width: 75%;
  margin: 10px auto;
  border: 1px solid #333333;
  border-radius: 3px;
  color: #333333;
}

.choice:hover {
  background-color: #333333;
  color: #FFFCEC;
}

/* Result Area */
.resultRow {
  height: 20px;
  border-top: 2px solid black;
  padding-top: 10px;
  text-align: center;
  margin-top: 20px;
}

.test {
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .four.columns {
    width: 100%;
  }
  .eight.columns {
    width: 100%;
    margin-left: 0;
  }
}
